<h1>about</h1>
<p><a href="https://github.com/tonydng/photo_gallery">This Photo Gallery</a> is a Rails project in version 3.2.13. 
	It is also updated to the latest Rails version 4.0.0.rc1 by adding a strong_parameters gem to it. The main reason is that the twitter-bootstrap-rails, a web responsive javascript and CSS gem, can not be working on Rails verson 4.0.0.rc1.</p>
