<p><%= link_to "New User", new_admin_user_path, :class => 'btn btn-primary' %></p>
<table class="table table-striped">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, [:admin, user] %> (<%= user.name %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>